<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main class="container mt-5 mb-0">
    <h1>Interviews</h1>
    <p>Découvrez les témoignages de nos bénéficiaires, bénévoles et partenaires à travers des interviews inspirantes.</p>
</main>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
